@use "../common/variable" as v;
@use"../common/mixin" as *;

//main
.main-wrapper {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 77%;
        height: 100%;
        background-color: v.$bg-color;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

.l-main-visual {
    display: flex;
    height: auto;
    position: relative;

    @include mq('sp') {
        display: block;
        width: 100%;
    }


}

.p-main-menu {
    display: none;

    @include mq('pc') {
        padding: 30px 20px;
        width: calc(200 / 1280 *100%);
        display: block;

    }
}

.p-main-visual__logo {
    max-width: 164px;
    margin: 0 auto;

}

@mixin logo($path) {
    display: block;
    background: url($path) no-repeat left center/contain;
    width: 100%;
    padding: 45px 0;
}

.main-visual-logo {
    @include logo($path: '/img/logo_dark.svg')
}

.logo-link {
    @include logo($path: '/img/logo_light.png');
    margin-bottom: 57px;

}

.p-nav-menu {
    margin: 60px 0;
}

.p-nav-menu__list {
    list-style-type: none;
    text-align: center;
}

.p-nav-menu__item {
    margin: 26px 0 0;

    &:nth-child(1) {
        margin: 0;
    }
}

.p-nav-menu__link {
    font-family: v.$nav-font;
    font-weight: 400;
    text-decoration: none;
}

.p-nav-menu__link-ja {
    display: block;
    padding-top: 5px;
    font-family: v.$font-ja;
    font-size: 10px;
}

//slider
.slider {
    width: 100%;
    height: auto;

    @include mq('pc') {
        width: calc(100% - 15.7%);
        height: 100%;
    }
}


@keyframes zoomUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

.slick-animation {
    animation: zoomUp 10s linear 0s normal both;
}

.p-main-visual__picture {
    position: relative;
    margin-left: auto;
}

.slide-item {
    img {
        height: 100vh;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.slick-dots {
    left: 30px;
    bottom: 15px;
    text-align: left;
    width: 50%;
}

.slick-dots li {
    margin: 0 8px;
}

.slick-dots li button:before {
    opacity: 1;
    color: #fff;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #D59B71;
}

.p-ham-sns,
.p-sns-icon-list {
    display: flex;
    align-items: center;
}

.p-sns-icon-list {
    justify-content: center;
}

.p-ham-sns {
    margin-left: 45px;
}

.p-sns-icon-item {
    position: relative;

    &:nth-child(n+2) {
        margin-left: 24px;
    }

}

.sns-icon__link {
    padding-top: 24px;
    width: 24px;
    height: auto;
    display: block;
    background-size: 100% auto;

    @include mq('sp') {
        width: 40px;
        height: 40px;
    }
}

.twitter {
    background: url(../img/icon_twitter-dark.png)no-repeat center / cover;
}

.instagram {
    background: url(../img/icon_instagram-dark.png)no-repeat center /cover;

}

.youtube {
    background: url(../img/icon_youtube-dark.png)no-repeat center /cover;
}

.main-picture-text {
    font-size: 20px;
    font-family: v.$font-ja;
    color: #FFFFFF;
    font-weight: 700;
    position: absolute;
    bottom: 10%;
    left: 20%;
    line-height: 2.5;
    letter-spacing: 3px;

    @include mq('sp') {
        left: 20px;
        font-size: 16px;
        top: 130px;
    }

    @include mq('tab') {
        left: 30px;
    }
}

.u-mobil {
    @include mq('pc') {
        display: none;
    }
}

.top-firstview-pickup {
    max-width: 390px;
    width: 100%;
    position: absolute;
    bottom: 40px;
    right: 20px;



    @include mq('sp') {
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 20px;

    }
}

.p-firstview-pickup__item {
    padding: 10px;
    background: rgba(v.$main-color , $alpha: .6);

    &::before {
        content: "";
        position: absolute;
        top: -109px;
        right: 0;
        display: block;
        background: url(../img/img_balloon-pickup.png) no-repeat center center / contain;
        width: 170px;
        height: 200px;
    }
}

.firstview-pickup-link {
    display: flex;

}

.firstview-pickup__image {
    position: relative;
    padding-top: 38%;
    width: 38%;
    height: auto;
    flex-shrink: 0;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.pickup_title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 1.5;
}

.pickup-date {
    font-size: 12px;
}

//concept
.l-top-concept {
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        width: 92.969vw;
        height: 300px;
        background-color: v.$bg-color;
        position: absolute;
        bottom: -100px;
        left: 0;
        z-index: -1;
    }

}

.p-top-concept {
    margin: 190px auto 0;
    max-width: 1280px;
    position: relative;

    &::before {
        content: "";
        background: url(/img/bg_coffee-beans.png)no-repeat center center/contain;
        width: 256px;
        height: 265px;
        background-size: 100% auto;
        position: absolute;
        top: -140px;
        right: 14px;
    }

    @include mq('sp') {
        &::before {
            content: "";
            background: url(/img/bg_coffee-beans.png)no-repeat center center/contain;
            width: 128px;
            height: 130px;
            background-size: 100% auto;
            position: absolute;
            top: -120px;
            right: 0;
        }

    }

    @include mq('tab') {}
}

.p-top-concept__container {
    display: flex;
    max-width: 1190px;

}

@include mq('sp') {
    .p-top-concept__container {
        width: 100%;
        flex-direction: column-reverse;
    }
}

.p-top-concept-picture {
    width: calc(600 / 1190 *100%);
}

@include mq('sp') {

    .p-top-concept-picture {
        width: 82%;
        margin-top: 80px;

        img {
            height: auto;
            max-width: 100%;

        }
    }
}

.top-concept-right {
    margin: 20px 0 0 80px;
    max-width: 470px;


    @include mq('sp') {
        margin: 0;
        padding: 0 20px;
        width: 100%;
        max-width: 100%;
    }

    @include mq('tab') {
        margin: 20px 0 0 40px;
    }
}

.section__title {
    font-size: 52px;
    font-family: v.$font-title-en;
    font-weight: 700;
    letter-spacing: 9px;
    text-align: center;

    @include mq('sp') {
        font-size: 40px;
        letter-spacing: 5px;
    }
}

.title-style {
    text-align: left;
}

.title__ja {
    display: block;
    font-size: .26em;
    margin-top: 10px;
    font-family: v.$font-ja;
    letter-spacing: 0;

    @include mq('sp') {
        font-size: 12px;
    }
}

.top-concept-text-box {
    margin: 55px 0;
    line-height: 2;
}

.c-concept__subtitle {
    font-weight: 700;
    font-size: 28px;
}

.p-top-concept__text {
    font-size: 14px;
    line-height: calc(28px / 14px);
    margin-bottom: 60px;
}
//special_lunch-menu
.l-special-lunch__menu {
    max-width: 100%;
    background: v.$sub-color;
    padding: 18px 0;
    margin-top: 342px;
    position: relative;

    @include mq('sp') {
        margin-top: 120px;
    }

    &::before {
        content: "";
        display: block;
        background: url(/img/bg_coffee-leaves.png)no-repeat left center/cover;
        width: 160px;
        height: 220px;
        position: absolute;
        top: 0;
        right: 0;

        @include mq('sp') {
            width: 90px;
            height: 130px;
        }

    }

    &::after {
        content: "";
        display: inline-block;
        background: url(/img/bg_coffee-leaves2.png) no-repeat center center / cover;
        width: 290px;
        height: 220px;
        position: absolute;
        bottom: -170px;
        left: -48px;

        @include mq('sp') {
            width: 146px;
            height: 190px;
            bottom: -90px;
        }
    }

}

.p-special-lunch__container {
    width: 100%;
    max-width: 1280px;
    padding: 0 50px;
    margin: 60px auto;
    overflow: hidden;

    @include mq('sp') {
        padding: 0 20px;
    }
}

.p-special-lunch__body {
    margin-top: 59px;
    padding: 60px 40px 40px;
    background-color: #fff;
    position: relative;

    &::before {
        content: "";
        display: block;
        background: url(/img/img_balloon-special-lunch-set.png) no-repeat left center/contain;
        width: 307px;
        height: 160px;
        position: absolute;
        top: -70px;
        right: -23px;

    }
}

@include mq('sp') {
    .p-special-lunch__body {
        padding: 20px;

        &::before {
      display: none;
        }
    }
}

.p-sepecial-lunch__body-head {
    width: 30em;
    height: auto;
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(50%);

    @include mq('sp'){
        width: 20em;
    }
}

.c-special-lunch__title {
    text-align: center;
}

.c-special-lunch__block {
    display: flex;
    flex-wrap: wrap;

}

.c-special-lunch__item {
    max-width: 260px;
    margin-right: 20px;
    width: 100%;

    &:nth-child(4n) {
        margin-right: 0;
    }

    &:nth-child(2n) {
        padding: 0;

        @include mq('pc') {
            padding-top: 39px;
        }
    }

    @include mq('sp') {
        width: calc(50% - 20px);
    }

    @include mq('tab') {
        width: calc(33.3% - 40px / 3);
        margin-right: 0;

    }
}

.p-list__text-body {
    display: flex;
    margin-top: 18px;
}

.p-list__menu-alphabet {
    text-align: center;
    background: v.$text-color;
    width: 68px;
    color: #FFF;
    font-size: 32px;
    font-family: v.$nav-font;
    line-height: 1.5;

    @include mq('sp'){
        width: 80px;
        height: 100%;
    }
}

.p-list__menu-name {
    padding-left: 12px;
    font-size: 18px;
    font-weight: 700;
}

.p-lunch-detail-body {
    background: #F7F6F4;
    border-radius: 8px;
    margin-top: 60px;
}

.p-lunch-detail {
    display: flex;
    padding: 20px 0 20px 70px;

    @include mq('sp') {
        display: block;
        padding: 20px 0;
    }

    @include mq('tab') {
        padding: 20px 0 20px 30px;
    }

}

.p-lunch-detail__img {
    max-width: 700px;

    @include mq('tab') {
        width: 50%;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.lunch-detail-textBox {
    margin-left: 40px;
    text-align: right;

    @include mq('sp') {
        text-align: center;
        margin: 0;
    }
}

.p-lunch-detail-name {
    font-size: 20px;

}

.p-lunch-detail-price {
    font-size: 60px;
    font-family: v.$sub-font-en;
    padding-bottom: 5px;
    border-bottom: 4px dotted;

    @include mq('sp') {
        font-size: 40px;
        display: inline-block;
    }


    @include mq('tab') {
        font-size: 3em;
    }
}

.p-lunch-detail-time {
    font-size: 14px;
    padding-top: 8px;

}
//grand-menu
.l-grand-menu {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: calc(50vw + 383px);
        height: 87%;
        background-color: v.$sub-color;
        z-index: -1;
        top: 380px;
        right: 0;

        @include mq('sp') {
            top: 200px;
            width: 80%;
        }
    }
}

.p-grand-menu__container {
    margin-top: 160px;
    width: 100%;
    height: 100%;
}

.p-menu__body {
    max-width: 1280px;
    padding: 40px 90px;
    margin: 0 auto;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        background: url(../img/bg_coffee-beans2.png) no-repeat center center;
        background-size: 100% auto;
        width: 369px;
        height: 300px;
        bottom: -77px;
        right: -122px;

        @include mq('sp'){
            width: 250px;
            bottom: -160px;
        }

        @include mq('tab'){
            width: 300px;
            bottom: -100px;
        }
    }

    @include mq('sp') {
        padding: 20px;
    }

    @include mq('tab') {
        padding: 0 40px;
    }
}



.p-grand-menu-block {
    margin-top: 100px;

    &:first-child {
        margin-top: 0;
    }
}

.drink-block-body {
    margin-top: 30px;
}

.menu-block__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.menu-block__item {
    max-width: 350px;
    width: calc(33.3% - 30px*2 /3);
    margin: 24px 30px 0 0;

    &:nth-child(3n) {
        margin-right: 0;
    }

}

@include mq('sp') {
    .menu-block__item {
        width: calc(50% - 10px);
        margin-right: 20px;

        &:nth-child(n + 3) {
            margin-right: 20px;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

.menu-block__img {
    background: #fff;
    padding: 10px;

}

.menu-block__head {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    border-top: solid 3px v.$text-color;
    border-bottom: solid 3px v.$text-color;
    padding: 6px 20px;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        border-top: 1px solid v.$text-color;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid v.$text-color;
    }
}

.menu-block__name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 12px;
}

.menu-block-price {
    font-family: v.$sub-font-en;
    font-size: 32px;
}

.drink__content {
    display: flex;

    @include mq('sp') {
        display: block;
    }
}

.drink {
    @include mq('sp') {
        display: none;
    }

    @include mq('tab') {
        display: none;
    }

    @include mq('pc') {
        display: block;
        flex-basis: 31.18182%;
        margin-right: 62px;
        width: 100%;


    }
}

.drink__table {
    display: flex;

    @include mq('sp') {
        display: block;
    }
}

.drink-menu-names {
    font-size: 14px;
    font-weight: bold;
    margin-right: 45px;
    width: 200px;

    &:last-child {
        margin-right: 0;
    }

    @include mq('sp') {
        width: 100%;
    }

    h4 {
        font-size: 16px;
        padding-bottom: 13px;
        border-bottom: 2px solid #222;


        &:nth-child(3) {
            margin: 0;
        }
    }
}

.drink-menu-item {
    display: flex;
    align-items: center;
    margin-top: 8px;

    span {
        display: block;
    }
}

.drink-price {
    font-family: v.$sub-font-en;
    font-size: 20px;
    margin-left: auto;
    width: 60px;
    flex-shrink: 1;
}

.p-menu__btn {
    text-align: center;
    margin: 65px auto;
}

//gallery
.gallery {
    background: v.$sub-color;
    margin-top: 140px;
    padding: 80px 0 15px;
}

.gallery__container {
    max-width: 1180px;
    padding: 0 40px;
    margin: 0 auto;

    @include mq('sp'){
        padding: 0 20px;
    }

}

.gallery__title {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -108px;
        left: calc(50% - 347px);
        display: block;
        width: 270px;
        height: 150px;
        background: url(/img/img_balloon-gallery.png) no-repeat left center / cover;
        background-size: 100% auto;

        @include mq('sp') {
            left: -20px;
            width: 130px;
        }
    }
}

.gallery__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    @include mq('tab') {
        padding: 0 20px;
    }
}

.gallery__item {

    @include mq('pc') {
        margin-right: 24px;
        width: calc((100% - (24px*3)) / 4);

        &:nth-child(4n + 4) {
            margin-right: 0;
        }
    }

    @include mq('sp') {
        margin: 0 20px 20px 0;
        width: calc(50% - 20px);
        flex-grow: 1;


        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @include mq('tab') {
        width: calc(50% - 20px);
        flex-grow: 1;
        margin: 0 20px 20px 0;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

//news
.p-news__container {
    position: relative;
    margin-top: 120px;

    &::before {
        content: "";
        position: absolute;
        background: url(/img/bg_plate.png)no-repeat left center;
        background-size: 100% auto;
        width: 350px;
        height: 320px;
        top: -263px;
        left: -78px;

        @include mq('sp') {
            top: -253px;
            left: -30px;
            width: 200px;
        }
    }
}

.p-news__body {
    display: flex;
    margin: 0 auto;
    padding: 40px 0 60px;

    @include mq('sp') {
        display: block;
        width: 100%;
        padding: 0 20px;
    }
}

.p-news-left {
    margin-right: 35px;
    width: 50%;

    @include mq('sp') {
        width: 100%;
    }
}

.p-news__item {
    a {
        opacity: 1;
    }
}

.news__thumb {
    padding-top: 62.54%;
    position: relative;
    width: 100%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.p-news-right {
    width: 50%;

    @include mq('sp') {
        width: 100%;
        margin-top: 20px;
    }
}

.p-news-right__body {
    display: flex;
    flex-wrap: wrap;
}

.right-wrapper {
    width: calc((100% - 42px)/2);
    margin-right: 42px;
    padding-bottom: 32px;

    &:nth-child(2n+2) {
        margin: 0;
    }

    @include mq('sp') {
        margin-right: 20px;
    }
}

.tag-text {
    position: absolute;
    top: 5%;
    left: -6px;
    z-index: 2;

    @include mq('sp') {
        font-size: 12px;
    }
}

.tag-text__in {
    position: relative;
    padding: 2px 12px 4px 14px;
    background-color: #382620;
    ;
    color: #fff;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: 30px;
        border-color: transparent #AAAAAA transparent transparent;
        border-style: solid;
        border-width: 0 8px 4px 0;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0px;
        right: -8px;
        border-style: solid;
        border-color: #382620 transparent #382620;
        border-width: 15px 10px 15px 0;
        z-index: 3;

        @include mq('sp') {
            border-width: 10px 10px 15px 0;
        }
    }

}
.firstview-tag{
    @include mq('sp'){
        left: 13px;

    }
}
.p-news__item {
    position: relative;

}

.p-news-card__link {
    color: v.$text-color;

}

.news__image {
    overflow: hidden;

    img {
        transition: all 1s;
        width: 100%;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.news__text__title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 12px;
}

.p-news-right {
    .news__text__title {
        font-size: 14px;
    }

    .news__time {
        font-size: 12px;
    }

}

.news__time {
    font-size: 14px;
}

.news__text__body {
    line-height: 1.4;

}

.news__text {
    font-size: 14px;
}

.l-access {
    background: v.$sub-color;
    width: 100%;
    position: relative;
    padding: 69px 0;
    margin-top: 163px;

    &::before {
        content: "";
        position: absolute;
        top: -67px;
        left: 26%;
        background: url(../img/img_balloon-access.png) no-repeat center;
        background-size: 100% auto;
        width: 234px;
        height: 200px;

        @include mq('sp') {
            top: -56px;
            left: 0;
            width: 150px;
            height: 120px;
        }
        @include mq('tab'){
            left: 10%;
        }

    }

}

.p-access {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -200px;
        right: -73px;
        background: url(/img/bg_bread.png) no-repeat right center;
        background-size: 100% auto;
        pointer-events: none;
        width: 374px;
        height: 359px;

        @include mq('sp') {
            width: 150px;
            height: 180px;
            right: -18px;
            top: -178px;
            background-size: 100% auto;
        }
    }
}

.access__container {
    margin: 0 auto;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background: url(/img/bg_coffee-beans3.png) no-repeat center center/cover;
        background-size: 100% auto;
        pointer-events: none;
        width: 316px;
        height: 300px;
        bottom: -277px;
        left: -61px;
    }

    @include mq('sp') {
        &::after {
            width: 150px;
            height: 150px;
            bottom: -173px;
            left: -20px;
        }

    }
}

.access__body {
    max-width: 680px;
    margin: 40px auto;


    @include mq('sp') {
        padding: 0 20px;
    }
}

.access-map {
    border: 10px solid #fff;
    background: #fff;
    width: 100%;
    padding-top: 54.9401%;
    ;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.shop-info {
    width: 100%;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    align-items: center;

    dl,
    dt,
    dd {
        display: block;
    }

    dl {
        width: 100%;
    }

    .shop-info-pg {
        padding-right: 12px;

        @include mq('sp') {
            padding: 0;
        }
    }

    dt {
        margin-right: 12px;
    }

    @include mq('sp') {
        display: block;
    }
}

.shop-info__table {
    padding: 24px 34px 15px 0;
    display: flex;
    border-bottom: 1px solid #222;
}

.p-access-btn {
    margin: 0 auto;
}
//パンくずリスト
.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .breadcrumb li {
    display: inline;
    list-style: none;
    font-weight: bold;
  }
  
  .breadcrumb li:after {
    content: '>';
    padding: 0 0.2em;
    color: #555;
  }
  
  .breadcrumb li:last-child:after {
    content: '';
  }
  
  .breadcrumb li a {
    text-decoration: none;
    color: v.$text-color;
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }