@charset "utf-8";

.l-footer__copyright {
    display: block;
    text-align: center;
    color: #FFF;
    margin-top: 40px;
    font-size: 12px;
}

.p-footer__container {
    background: #382620;
    padding: 40px 0 20px;

}

.footer-page_top {
    position: fixed;
    right: 16px;
    bottom: 21px;

    a {
        opacity: 1;
        transition: none;
    }
}

.footer-button-pageTop {
    display: block;
    background: url(/img/icon_arrow-top.png)no-repeat left center;
    background-size: 100% auto;
    width: 45px;
    height: 45px;
}

.p-footer-sns-icon {
    display: flex;
    justify-content: center;
}